
<!-- Accordion -->
<h3>Accordion</h3>
<rjb-accordion [items]="items" id="acc" [showItem]="0"></rjb-accordion>
<!-- end Accordion -->

<!-- Alert -->
<h3>Alert</h3>
<!-- <rjb-alert [type]="'success'" [message]="'Success message'"></rjb-alert> -->

<!-- Button -->
<h3>Button</h3>
<rjb-btn [type]="'primary'" [label]="'Primary'"></rjb-btn>
<rjb-btn [type]="'secondary'" [label]="'Secondary'"></rjb-btn>
<rjb-btn [type]="'success'" [label]="'Success'"></rjb-btn>
<rjb-btn [type]="'danger'" [label]="'Danger'"></rjb-btn>
<rjb-btn [type]="'warning'" [label]="'Warning'"></rjb-btn>
<rjb-btn [type]="'info'" [label]="'Info'"></rjb-btn>
<rjb-btn [type]="'light'" [label]="'Light'"></rjb-btn>
<rjb-btn [type]="'dark'" [label]="'Dark'"></rjb-btn>
<rjb-btn [type]="'link'" [label]="'Link'"></rjb-btn>
<rjb-btn [type]="'outline-primary'" [label]="'Outline Primary'"></rjb-btn>
<rjb-btn [type]="'outline-secondary'" [label]="'Outline Secondary'"></rjb-btn>
<rjb-btn [type]="'outline-success'" [label]="'Outline Success'"></rjb-btn>
<rjb-btn [type]="'outline-danger'" [label]="'Outline Danger'"></rjb-btn>
<rjb-btn [type]="'outline-warning'" [label]="'Outline Warning'"></rjb-btn>
<rjb-btn [type]="'outline-info'" [label]="'Outline Info'"></rjb-btn>
<rjb-btn [type]="'outline-light'" [label]="'Outline Light'"></rjb-btn>
<rjb-btn [type]="'outline-dark'" [label]="'Outline Dark'"></rjb-btn>
<rjb-btn [type]="'outline-link'" [label]="'Outline Link'"></rjb-btn>
<rjb-btn [type]="'primary'" [label]="'Primary'" [size]="'lg'"></rjb-btn>
<rjb-btn [type]="'secondary'" [label]="'Secondary'" [size]="'lg'"></rjb-btn>
<rjb-btn [type]="'success'" [label]="'Success'" [size]="'lg'"></rjb-btn>
<rjb-btn [type]="'danger'" [label]="'Danger'" [size]="'lg'"></rjb-btn>
<rjb-btn [type]="'warning'" [label]="'Warning'" [size]="'lg'"></rjb-btn>
<rjb-btn [type]="'info'" [label]="'Info'" [size]="'lg'"></rjb-btn>
<rjb-btn [type]="'light'" [label]="'Light'" [size]="'lg'"></rjb-btn>
<rjb-btn [type]="'dark'" [label]="'Dark'" [size]="'lg'"></rjb-btn>
<rjb-btn [type]="'link'" [label]="'Link'" [size]="'lg'"></rjb-btn>

<router-outlet></router-outlet>
