<div class="container">

<!-- Accordion -->
<h3>Accordion</h3>
<rjb-accordion [items]="items" id="acc" [showItem]="0"></rjb-accordion>
<!-- end Accordion -->

<!-- Alert -->
<h3>Alert</h3>
<!-- <rjb-alert [type]="'success'" [message]="'Success message'"></rjb-alert> -->


<fa-icon [icon]="faCoffee"></fa-icon>


<!-- Button -->

    <h3>Button Basic</h3>
    
    <div class="row">
        <div class="col d-flex justify-content-evenly flex-wrap">
            <rjb-btn [type]="'primary'" [label]="'Primary'"></rjb-btn>
            <rjb-btn [type]="'secondary'" [label]="'Secondary'"></rjb-btn>
            <rjb-btn [type]="'success'" [label]="'Success'"></rjb-btn>
            <rjb-btn [type]="'danger'" [label]="'Danger'"></rjb-btn>
            <rjb-btn [type]="'warning'" [label]="'Warning'"></rjb-btn>
            <rjb-btn [type]="'info'" [label]="'Info'"></rjb-btn>
            <rjb-btn [type]="'light'" [label]="'Light'"></rjb-btn>
            <rjb-btn [type]="'dark'" [label]="'Dark'"></rjb-btn>
            <rjb-btn [type]="'link'" [label]="'Link'"></rjb-btn>
        </div>
    </div>
    
    <h3>Button Outline</h3>
    
    <div class="row">
        <div class="col d-flex justify-content-evenly flex-wrap">
            <rjb-btn [outline]="true" [type]="'primary'" [label]="'Outline Primary'"></rjb-btn>
            <rjb-btn [outline]="true" [type]="'secondary'" [label]="'Outline Secondary'"></rjb-btn>
            <rjb-btn [outline]="true" [type]="'success'" [label]="'Outline Success'"></rjb-btn>
            <rjb-btn [outline]="true" [type]="'danger'" [label]="'Outline Danger'"></rjb-btn>
            <rjb-btn [outline]="true" [type]="'warning'" [label]="'Outline Warning'"></rjb-btn>
            <rjb-btn [outline]="true" [type]="'info'" [label]="'Outline Info'"></rjb-btn>
            <rjb-btn [outline]="true" [type]="'light'" [label]="'Outline Light'"></rjb-btn>
            <rjb-btn [outline]="true" [type]="'dark'" [label]="'Outline Dark'"></rjb-btn>
            <rjb-btn [outline]="true" [type]="'link'" [label]="'Outline Link'"></rjb-btn>
        </div>
    </div>
    
    <h3>Button Size</h3>
    
    <div class="row">
        <div class="col d-flex justify-content-evenly flex-wrap">
            <rjb-btn [type]="'primary'" [label]="'Primary'" [size]="'lg'"></rjb-btn>
            <rjb-btn [type]="'secondary'" [label]="'Secondary'" [size]="'lg'"></rjb-btn>
            <rjb-btn [type]="'success'" [label]="'Success'" [size]="'lg'"></rjb-btn>
            <rjb-btn [type]="'danger'" [label]="'Danger'" [size]="'lg'"></rjb-btn>
            <rjb-btn [type]="'warning'" [label]="'Warning'" [size]="'lg'"></rjb-btn>
            <rjb-btn [type]="'info'" [label]="'Info'" [size]="'lg'"></rjb-btn>
            <rjb-btn [type]="'light'" [label]="'Light'" [size]="'lg'"></rjb-btn>
            <rjb-btn [type]="'dark'" [label]="'Dark'" [size]="'lg'"></rjb-btn>
            <rjb-btn [type]="'link'" [label]="'Link'" [size]="'lg'"></rjb-btn>
        </div>
    </div>
    <div class="row m-3">
        <div class="col d-flex justify-content-evenly flex-wrap">
            <rjb-btn [type]="'primary'" [label]="'Primary'" [size]="'sm'"></rjb-btn>
            <rjb-btn [type]="'secondary'" [label]="'Secondary'" [size]="'sm'"></rjb-btn>
            <rjb-btn [type]="'success'" [label]="'Success'" [size]="'sm'"></rjb-btn>
            <rjb-btn [type]="'danger'" [label]="'Danger'" [size]="'sm'"></rjb-btn>
            <rjb-btn [type]="'warning'" [label]="'Warning'" [size]="'sm'"></rjb-btn>
            <rjb-btn [type]="'info'" [label]="'Info'" [size]="'sm'"></rjb-btn>
            <rjb-btn [type]="'light'" [label]="'Light'" [size]="'sm'"></rjb-btn>
            <rjb-btn [type]="'dark'" [label]="'Dark'" [size]="'sm'"></rjb-btn>
            <rjb-btn [type]="'link'" [label]="'Link'" [size]="'sm'"></rjb-btn>
        </div>
    </div>
    <!-- end Button -->

</div>
<router-outlet></router-outlet>
